<!--「いいね」した履歴があるか確認-->
<% if favorite_posts.present? %>
  <div class="row contents row-cols-3 mx-auto px-5">
    <% favorite_posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
          <%= image_tag post.get_image(300, 300), class: "image_border" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="contents text-center">「いいね」した投稿はここに保存されます</p>
<% end %>
