<!--投稿履歴があるか確認-->
<% if posts.present? %>
  <div class="row row-cols-3 px-lg-5 pt-3 pt-lg-5">
    <% posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="col text-center p-0 mb-lg-4">
          <%= image_tag post.get_image(300, 300), class: "image_border img-fluid" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="contents text-center">「<i class="fas fa-plus-circle"></i> New Post」から写真をシェアしよう！</p>
<% end %>
