<div class="container contents">
  <h4><i class="fas fa-pen"></i>「下書き保存」の投稿一覧</h4></br>
  <!--下書き投稿一覧-->
  <div class="row row-cols-3 mx-auto px-5">
      <% @customer_posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
          <%= image_tag post.get_image(300, 300), class: "image_border" %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>