<div class="container contents">
<h4><i class="fas fa-tags"></i>「#<%= @tag.hashname %>」に関する投稿</h4></br>
  <div class="row row-cols-3 mx-auto px-5">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
          <%= image_tag post.get_image(300, 300), class: "image_border" %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>