<h1>Public::Posts#tag</h1>

<div class="container contents">
<h4>#<%= @tag.hashname %></h4>
  <div class="row row-cols-3 mx-auto px-5">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
            <%= image_tag post.get_image(300, 300) %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>