<div class='container contents'>
  <% if @posts.exists? %>
  <h4><i class="fas fa-search-plus"></i>「<%= @content %>」に関する投稿一覧</h4></br>
  <div class="row row-cols-3 px-lg-5">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center p-0 mb-lg-4">
          <%= image_tag post.get_image(300, 300), class: "image_border img-fluid" %>
        </div>
        <% end %>
      <% end %>
  </div>
  <% else %>
    <p class="text-center">「<%= @content %>」に関する投稿はありません。</p>
  <% end %>
</div>