<div class='container contents'>
  <div class="row row-cols-3 mx-auto px-5">
    <% if @posts.exists? %>
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="col text-center mb-4">
            <%= image_tag post.get_image(300, 300) %>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <p>「<%= @content %>」に関する投稿はありません。</p>
    <% end %>
  </div>
</div>