<div class="container">
  <div class="text-center">
    <%= image_tag 'sdgs_ja.jpg', class: "about_background_image img-fluid" %>
  </div>
    <h2 class="text-center font-weight-bold mb-5">「 わたしたちは世界を変えられる 」</h2>

    <h4 class="text-center font-weight-bold">SDGsとは...</h4>
    <div class="w-75 mb-5 mx-auto text-center">
      「Sustainable Development Goals（SDGs）」とは、2001年に策定されたミレニアム開発目標（MDGs）の後継として、
      2015年9月の国連サミットで採択された「持続可能な開発のための2030アジェンダ」にて記載された、2030年までに持続可能でよりよい世界を目指す国際目標です。</br>
      17のゴール・169のターゲットから構成され、地球上の「誰一人取り残さない」ことを誓っています。</br>
    </div>

    <h4 class="text-center font-weight-bold mb-2">今までの取り組み</h4>

    <div class="text-center mb-3">参加ユーザー数：<%= @post_customer.count %> 人&emsp;/&emsp;投稿数：<%= @posts.count %> 件</div>
    <canvas id="myChart"></canvas>
    <p class="text-right">※当サイト上の集計です</p>


</div>
<script>
  const labels = [
      '1.貧困をなくそう',
      '2.飢餓をゼロに',
      '3.すべての人に健康と福祉を',
      '4.質の高い教育をみんなに',
      '5.ジェンダー平等を実現しよう',
      '6.安全な水とトイレを世界中に',
      '7.エネルギーをみんなに。そしてクリーンに',
      '8.働きがいも経済成長も',
      '9.産業と技術革新の基盤を作ろう',
      '10.人や国の不平等をなくそう',
      '11.住み続けられるまちづくりを',
      '12.つくる責任、つかう責任',
      '13.気候変動に具体的な対策を',
      '14.海の豊かさを守ろう',
      '15.陸の豊かさも守ろう',
      '16.平和と公正をすべての人に',
      '17.パートナーシップで目標を達成しよう'
    ];
  const data = {
    labels: labels,
    datasets: [
      {
        label: '投稿数',
        data: <%= chart_category_count %>, // public/Homesヘルパーに記載
        backgroundColor: [
          "#e5243b",
          "#DDA63A",
          "#4C9F38",
          "#C5192D",
          "#FF3A21",
          "#26BDE2",
          "#FCC30B",
          "#A21942",
          "#FD6925",
          "#DD1367",
          "#FD9D24",
          "#BF8B2E",
          "#3F7E44",
          "#0A97D9",
          "#56C02B",
          "#00689D",
          "#19486A"
        ]
      }
    ]
  };

  $(document).on('turbolinks:load', function() {
    const ctx = document.getElementById("myChart");
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            display: false
          }
        },
        interaction: {
          mode: 'nearest',
          intersect: false
        },
        scales: {
          x: {
            display: false
          },
          y: {
            max: 100
          }
        }
      }
    });
  });
</script>