<div class="container contents">
  <!--今までに投稿があるか確認-->
  <% if @posts.exists? %>
    <!--会員（または、管理者）の場合-->
    <% if customer_signed_in? || admin_signed_in? %>
      <div id="paginate">
        <%= render "top", posts: @posts %>
      </div>
    <% else %>
      <div class="row">
        <%= link_to "ゲストログイン（閲覧用）", guest_session_path, method: :post, class: "col-5 mx-auto mb-3 link guest-session text-center" %>
      </div>
      <div id="paginate">
        <%= render "top", posts: @posts %>
      </div>
    <% end %>
  <% else %>
    <p>写真を投稿してユーザーとシェアしよう！！</p>
  <% end %>
</div>