<div class="container contents">
  <!--今までに投稿があるか確認-->
  <% if @posts.exists? %>
    <!--会員としてサインインした場合-->
    <% if customer_signed_in? %>
    <div id="paginate">
      <%= render "top", posts: @posts %>
    </div>
    <% else %>
      <%= link_to 'ゲストログイン（閲覧用）', guest_session_path, method: :post %>
    <div id="paginate">
      <%= render "top", posts: @posts %>
    </div>
    <% end %>
  <% else %>
    <p>写真を投稿してユーザーとシェアしよう！！</p>
  <% end %>
</div>