<div class="container contents px-5 px-sm-0">
  <div class="row my-4">
    <div class="col-2"></div>
    <h5 class="col-5 mb-0 align-self-center"><i class="fas fa-users ml-3"></i> 会員一覧</h5>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <%= link_to "ユーザーネーム順（A-Z）", admin_customers_path(sort: 'username ASC'), class: "color"  %> | <%= link_to "ステータス順", admin_customers_path(sort: 'is_deleted DESC'), class: "color" %>
    <div id="paginate">
      <%= render 'index', customers: @customers %>
    </div>
    </div>
  </div>
</div>
