<div class="container">

  <div class="row my-4">
    <div class="col-1"></div>
    <h5 class="col-5 mb-0 align-self-center"><i class="fas fa-images"></i> <strong><%= @customer.username %></strong>さんの投稿一覧</h5>
  </div>

  <!--投稿写真一覧-->
  <div class="row">
    <% if @customer_posts.exists? %>
      <div id="paginate" class="col-10 mx-auto">
        <%= render 'post_index', customer_posts: @customer_posts %>
      </div>
    <% else %>
      <div class="col text-center">
        「<%= @customer.username %>」さんの投稿はありません。
      </div>
    <% end %>
  </div>
</div>