<div class="container contents">
  <div class="row px-1 py-1">
    <div class="w-100 col d-flex justify-content-center">
    <div class="col-3 text-center border-right">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active color" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">プロフィールを編集</a>
        <a class="nav-link color" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">パスワードを変更</a>
        <a class="nav-link color" id="v-pills-unsubscribe-tab" data-toggle="pill" href="#v-pills-unsubscribe" role="tab" aria-controls="v-pills-unsubscribe" aria-selected="false">退会の手続き</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <%= render "public/customers/edit", customer: @customer %>
        </div>
        <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
          <%= render "public/devise/registrations/edit_form", customer: @customer, minimum_password_length: @minimum_password_length %>
        </div>
        <div class="tab-pane fade" id="v-pills-unsubscribe" role="tabpanel" aria-labelledby="v-pills-unsubscribe-tab">
          <%= render "public/customers/unsubscribe", customer: @customer %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>