<% if post.favorites.count >= 1 %>
  <p class="text-danger">
    <i class="fas fa-heart" aria-hidden="true"></i>
    <%= post.favorites.count %>
  </p>
  <% else %>
  <p>
    <i class="far fa-heart" aria-hidden="true"></i>
    <%= post.favorites.count %>
  </p>
<% end %>