<div class="container contents">
  <!--今までに投稿があるか確認-->
  <% if @posts.exists? %>
    <div id="paginate">
      <%= render "index", posts: @posts %>
    </div>
  <% else %>
    <p>投稿がありません。</p>
  <% end %>
</div>