<ul class="navbar-nav ml-auto">
  <li class="mx-1">
    <%= link_to homes_about_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-home"></i>
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to homes_about_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-home-alt"></i>
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to homes_about_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-home-alt"></i>
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to homes_about_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-home-alt"></i>
    <% end %>
  </li>
</ul>