<ul class="navbar-nav col-7 ml-5">
  <li class="mx-1">
    <%= link_to root_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-home"></i> Home
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to homes_about_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-link"></i> About
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to root_path, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-store-alt"></i> Shop
    <% end %>
  </li>
  <li class="mx-1">
    <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link bg-light text-secondary rounded-lg" do %>
    <i class="fas fa-sign-out-alt"></i> Log Out
    <% end %>
  </li>
</ul>